
.modal-content {
    border-radius: 20px;
    background-color: yellow;
    border: 2px solid red;
  }
  
  .modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .modal-body, .modal-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  